body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFE0B9;
    color: #B7521E;
    margin-bottom: 5%;
}

#calendar {
    background-color: #E4B04A;
}

#dialog-box {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #643B0F;
    align: center;
}

body {
    -webkit-transform: rotate(3deg);
    -webkit-filter: blur(1px);
}